.footer-component {
    background: #333333;
    padding: 20px 10px;

    .footer-component-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
